.container
  color: black
  text-align: center
  position: absolute
  top: 50%
  left: 0
  right: 0
  transform: translateY(-50%)
  .logo
    width: 200px
    height: 100px
    display: inline-block
    background: url('~@/assets/images/logo200.png')
  span
    font-size: 36px
    text-shadow: 5px 5px 10px #FF0000